
<div class = "headerContainer row">
    <div class="headerName col-4 h-100 d-flex align-content-center">
       <div class="nameDiv" routerLink="/about">
         <span>Name</span>
       </div>

    </div>
    <div class="headerNavOptionsContainer  col-8 d-flex justify-content-end">
        <div class="headerNavOption mx-1" routerLinkActive="active">
            <a routerLink="/home" ariaCurrentWhenActive="page">option A</a>
        </div>
        <div class="headerNavOption mx-1" routerLinkActive="active">
            <a routerLink="/newsUpdate" ariaCurrentWhenActive="page">Option B</a>
        </div>
        <div class="headerNavOption mx-1" routerLinkActive="active">
            <a routerLink="/contact" ariaCurrentWhenActive="page">Option C</a>
        </div>
    </div>
</div>