<div class="d-flex justify-content-end closeDialogButtonCont">
    <button class= "btn btn-danger closeDialogButton" (click) = "closeDialog()"> X </button>
</div>
<div class="formContainer my-2 mx-4">
    <div>
        <form [formGroup]="caseDetailForm" (ngSubmit)="onSubmitForm()">
            <span class="headerTextFormat">Personal Details</span>
            
            <div class="row">
                <div class="form-group col-12">
                    <label for="personName" class="labelText">Name<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="personName" placeholder="Enter Full Name" formControlName = "personName">
                    <mat-error *ngIf="caseDetailForm.get('personName')?.hasError('required') && caseDetailForm.controls['personName'].touched == true">Name is required</mat-error>
                    <mat-error *ngIf="caseDetailForm.get('personName')?.hasError('pattern')">pattern</mat-error>
                </div>
                <div class="form-group col-12">
                    <label for="personFatherName" class="labelText">Father's Name<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="personFatherName" placeholder="Enter Father's Full Name" formControlName = "fathersName">
                    <mat-error *ngIf="caseDetailForm.get('personName')?.hasError('fathersName') && caseDetailForm.controls['fathersName'].touched == true">Father's Name is required</mat-error>
                </div>
                <div class="form-group col-12">
                    <label for="Address1" class="labelText">Address<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="Address1" formControlName = "address1">
                    <mat-error *ngIf="caseDetailForm.get('address1')?.hasError('required') && caseDetailForm.controls['address1'].touched == true">Field is required</mat-error>
                    <input type="text" class="form-control mt-2" id="Address2" formControlName = "address2">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-4">
                    <label for="tehsil" class="labelText">Tehsil<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="tehsil" placeholder="" formControlName = "tehsil">
                    <mat-error *ngIf="caseDetailForm.get('tehsil')?.hasError('required') && caseDetailForm.controls['tehsil'].touched == true">Field Is required</mat-error>
                </div>
                <div class="form-group col-4">
                    <label for="" class="labelText">Value<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="" placeholder="" formControlName = "psName">
                    <mat-error *ngIf="caseDetailForm.get('psName')?.hasError('required') && caseDetailForm.controls['psName'].touched == true">Field is required</mat-error>

                </div>
                <div class="form-group col-4">
                    <label for="tehsil" class="labelText">Pincode<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="tehsil" placeholder="" formControlName = "pincode">
                    <mat-error *ngIf="caseDetailForm.get('pincode')?.hasError('required') && caseDetailForm.controls['pincode'].touched == true">Pincode is required</mat-error>
                    <mat-error *ngIf="caseDetailForm.get('pincode')?.hasError('pattern') && caseDetailForm.controls['pincode'].touched == true">Enter valid pincode</mat-error>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <label for="district" class="labelText">District<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="district" placeholder="" formControlName = "district">
                    <mat-error *ngIf="caseDetailForm.get('district')?.hasError('required') && caseDetailForm.controls['district'].touched == true">Field is required</mat-error>
                </div>
                <div class="form-group col-6">
                    <label for="state" class="labelText">State<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="state" placeholder="" formControlName = "state">
                    <mat-error *ngIf="caseDetailForm.get('state')?.hasError('required') && caseDetailForm.controls['state'].touched == true">State is required</mat-error>
                </div>
            </div>
            <hr>

            <span class="headerTextFormat">Contact Details</span>
     
            <div class="row">
                <div class="form-group col-6">
                    <label for="mobileNumber" class="labelText">Contact Number<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="mobileNumber" placeholder="Enter Contact Number" formControlName = "contactNumber">
                    <mat-error *ngIf="caseDetailForm.get('contactNumber')?.hasError('required') && caseDetailForm.controls['contactNumber'].touched == true">Field is required</mat-error>
                    <mat-error *ngIf="caseDetailForm.get('contactNumber')?.hasError('pattern') && caseDetailForm.controls['contactNumber'].touched == true">Enter valid contact</mat-error>
                </div>
                <div class="form-group col-6">
                    <label for="mobileNumber" class="labelText">Alternate Number</label>
                    <input type="text" class="form-control" id="mobileNumber" placeholder="Enter Contact Number" formControlName = "altContactNumber">
                    <mat-error *ngIf="caseDetailForm.get('altContactNumber')?.hasError('required') && caseDetailForm.controls['altContactNumber'].touched == true">Field is required</mat-error>
                    <mat-error *ngIf="caseDetailForm.get('altContactNumber')?.hasError('pattern') && caseDetailForm.controls['altContactNumber'].touched == true">Enter valid contact</mat-error>

                </div>
                <div class="form-group col-12">
                    <label for="emailAddress" class="labelText">Email<span class="text-danger">*</span></label>
                    <input type="email" class="form-control" id="emailAddress" placeholder="Enter Valid Email" formControlName = "personEmail">
                    <mat-error *ngIf="caseDetailForm.get('personEmail')?.hasError('required') && caseDetailForm.controls['personEmail'].touched == true">Email is required</mat-error>
                    <mat-error *ngIf="caseDetailForm.get('personEmail')?.hasError('pattern') && caseDetailForm.controls['personEmail'].touched == true">Enter valid email</mat-error>
                </div>
            </div>
            <hr>
            
            <span class="headerTextFormat">Other Details</span> 
            
            <div class="row">
                <div class="form-group col-12">
                    <label for="caseNumber" class="labelText">Number (If Any)</label>
                    <input  type="text" class="form-control" id="caseNumber" placeholder="" formControlName = "caseNumber">
                </div>        
                <div class="form-group col-12">
                    <label for="caseDetails" class="labelText">Details<span class="text-danger">*</span></label>
                    <textarea  type="textbox" row="10" class="form-control" id="caseDetails" placeholder="Enter case related details" formControlName = "caseInfoDetails"></textarea>
                </div>        
                <div class="form-group col-12">
                    <label for="otherImportantInfo" class="labelText">Other Important Information</label>
                    <textarea  type="textbox" row="10" class="form-control" id="otherImportantInfo" placeholder="Any other Important Information want to share?" formControlName = "otherImpInformation"></textarea>
                </div>
            </div>      
            <div class="d-flex justify-content-center my-3">
                <button type="submit" [disabled] = "caseDetailForm.invalid" class="btn btn-primary">Submit</button>
            </div>
            <br>
        </form>
    </div>
</div>
