<div class = "h-5">
    <button class= "btn danger"> X </button>
</div>
<div>
    <form>
        <hr>
        <div>
            <span>Personal Details</span>
        </div>
        <div class="form-group">
            <label for="personName">Name</label>
            <input type="text" class="form-control" id="personName" placeholder="Enter Full Name">
        </div>
        <div class="form-group">
            <label for="personFatherName">Father's Name</label>
            <input type="text" class="form-control" id="personFatherName" placeholder="Enter Father's Full Name">
        </div>
        <div class="form-group">
            <label for="Address1">Address</label>
            <input type="text" class="form-control" id="Address1">
            <input type="text" class="form-control" id="Address2">
            <input type="text" class="form-control" id="pincode">
        </div>
        <div class="form-group">
            <label for="tehsil">Tehsil</label>
            <input type="text" class="form-control" id="tehsil" placeholder="">
        </div>
        <div class="form-group">
            <label for="">Value</label>
            <input type="text" class="form-control" id="" placeholder="">
        </div>
        <hr>
        <div>
            <span>Contact Details</span>
        </div>
        <div class="form-group">
            <label for="emailAddress">Email</label>
            <input type="email" class="form-control" id="emailAddress" placeholder="Enter Valid Email">
        </div>
        <div class="form-group">
            <label for="mobileNumber">Contact Number</label>
            <input type="text" class="form-control" id="mobileNumber" placeholder="Enter Contact Number">
        </div>
        <div class="form-group">
            <label for="mobileNumber">Alternate Contact Number</label>
            <input type="text" class="form-control" id="mobileNumber" placeholder="Enter Contact Number">
        </div>
        <div>
            <span>Other Details</span>
        </div>        
        <div class="form-group">
            <label for="caseNumber">Number (If Any)</label>
            <input type="text" class="form-control" id="caseNumber" placeholder="">
        </div>        
        <div class="form-group">
            <label for="caseDetails">Details</label>
            <input type="textbox" class="form-control" id="caseDetails" placeholder="Enter case related details">
        </div>        
        <div class="form-group">
            <label for="otherImportantInfo">Other Important Information</label>
            <input type="textbox" class="form-control" id="otherImportantInfo" placeholder="Any other Important Information want to share?">
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" disabled = "" class="">Submit</button>
        </div>
    </form>
</div>
