<div class="container" #container>
	<div class="left" *ngIf="totalPages > 1" (click)="currentPage != 1 && changePage(-1)" [ngClass]="{'disabled':currentPage === 1}"></div>
	<div class="cards" [ngClass]="{'w-100': totalPages === 1}">
		<div class="overflow" [ngStyle]="{'width': overflowWidth, 'left': pagePosition}">
			<div class="card" *ngFor="let news of newsArray; let index = index" [ngStyle]="{'width': cardWidth}">
				<mat-card class="news-card">
					<mat-card-header>
					  <mat-card-title>{{news.heading}}</mat-card-title>
					  <!-- <mat-card-subtitle>Subheading</mat-card-subtitle> -->
					</mat-card-header>
					<img mat-card-image src="" alt="alt">
					<mat-card-content class="p-0">
					  <p>
						{{news.briefDetail}}
					  </p>
					</mat-card-content>
				  </mat-card>
			</div>
		</div>
	</div>
	<div class="right" *ngIf="totalPages > 1" (click)="currentPage != totalPages && changePage(+1)"
		[ngClass]="{'disabled':currentPage === totalPages}"></div>
</div>
<div>

</div>
