<!-- <div class="container" #container>
	<div class="left" *ngIf="totalPages > 1" (click)="currentPage != 1 && changePage(-1)" [ngClass]="{'disabled':currentPage === 1}"></div>
	<div class="cards" [ngClass]="{'w-100': totalPages === 1}">
		<div class="overflow" [ngStyle]="{'width': overflowWidth, 'left': pagePosition}">
			<div class="card" *ngFor="let i of arr; let index = index" [ngStyle]="{'width': cardWidth}">
				<mat-card class="news-card">
					<mat-card-header>
					  <mat-card-title>Heading</mat-card-title>
					  <mat-card-subtitle>Subheading</mat-card-subtitle>
					</mat-card-header>
					<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="alt">
					<mat-card-content class="p-0">
					  <p>
						basic information about the card design. mmazimun we can add 5-6 line in description
					  </p>
					</mat-card-content>
					<div class="moreInfoAction">
						Detail >>
					</div>
				  </mat-card>
			</div>
		</div>
	</div>
	<div class="right" *ngIf="totalPages > 1" (click)="currentPage != totalPages && changePage(+1)"
		[ngClass]="{'disabled':currentPage === totalPages}"></div>
</div>
<div>

</div> -->

<div style="position: relative;">
	<img src="../assets/images/img2.jpg" alt = "com2">
	<div class="contentBox">
		<span style="color: black;">Component 2</span>
	</div>
</div>