/* You can add global styles to this file, and also import other style files */
@import '~font-awesome/css/font-awesome.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.contentBox{border: 1px black solid;
    background-color: white;
    position: absolute;
    right: 40%;
    top: 50%;
    height: 100px;
    width: 264px;
  }

.formContainer{
    width: 92%;
    border-radius: 5px;
    height: 100%;
    max-height: none !important;
}

.headerTextFormat{
  font-size: 18px;
  font-weight: 500;
  color: #00536F !important;
  text-decoration: underline;
}

.closeDialogButtonCont{
  height: 25px;
  margin: 5px;
}

.closeDialogButton{
  padding: 0px 5px;
}

.labelText{
  font-size: 15px;
  padding: 5px 10px;
  margin-top: 0.5rem;
  color: #878a99;
  font-weight: 500;
}
